.overlay-bg {
    background-color: rgba(73,75,82,255);
    /* Screen size */
    width: 100vw;
    height: 100vh;
    /* Positioning */
    position: fixed;
    top: 0;
    left: 0;
    /* Stack Order */
    z-index: 1;
}

.overlay-content {
    background: rgb(239, 219, 183);
    /* Screen size */   
    width: 25vw;
    height: 25vh;
    /* Positioning */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Stack Order */
    z-index: 2;
    /* Shape and Size */
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 25px;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    border: 5px solid orange;
}

.sprint-logo-wbg {
    width: 175px;
    height: 175px;
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 5px solid #d01619; /* Green border for a pop effect */
    box-shadow: 0 0 10px rgba(60, 64, 1, 0.5); /* Box shadow for the logo */
    padding: 5px;
    margin-bottom: 10px;
}