.add-form {
    padding: 25px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.form-control {
    display: flex;
    margin-bottom: 15px;
    width: 400px;
}
  
label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}
  
p {
    display: flex;
    justify-content: space-between;
}

/* Button stuff */
.save-btn, .cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background: linear-gradient(
      180deg,
      rgba(255, 174, 105, 1) 0%,
      rgba(255, 173, 102, 1) 32%,
      rgba(255, 132, 25, 1) 100%);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    font-size: 15px;
    display: block;
    margin: 0 auto;
  }

.save-btn:hover, .cancel-btn:hover {
    transform: scale(1.1); 
    background: linear-gradient(
      180deg,
      rgb(248, 134, 34) 0%,
      rgb(219, 111, 17) 32%,
      rgb(187, 91, 7) 100%);

}

  