.App {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  background: rgba(255, 213, 128, 0.3);
}

.sprint-logo {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.add-story-button {
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background: linear-gradient(
    180deg,
    rgba(255, 174, 105, 1) 0%,
    rgba(255, 173, 102, 1) 32%,
    rgba(255, 132, 25, 1) 100%);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  font-size: 20px;
  display: block;
  margin: 0 auto;
}

.add-story-button:hover {
  transform: scale(1.1); 
  background: linear-gradient(
    180deg,
    rgb(248, 134, 34) 0%,
    rgb(219, 111, 17) 32%,
    rgb(187, 91, 7) 100%);
}