.App {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.sprint-logo {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.add-story-button {
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background: rgb(213, 120, 39);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  font-size: 20px;
  display: block;
  margin: 0 auto;
}